ustarka {
  position: absolute;
  background-color: #202225;
  width: 243px;
  height: 134px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;

}

altarka {
  position: absolute;
  margin-top: 134px;
  background-color: #2F3136;
  width: 239px;
  height: 134px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border: 2px solid #202225;
}
